* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  color: #333;
  background: #fefefe;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

ul {
  list-style-type: none; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
  header #menu-toggle {
    color: #333;
    position: absolute;
    top: 1rem;
    right: 1rem; }
    header #menu-toggle:hover {
      opacity: 0.5;
      transition: all 0.5s ease-in-out; }
  header #nav-mobile {
    background: #eee;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -20rem;
    left: 0;
    transition: all 0.5s ease-in-out;
    width: 100vw; }
    header #nav-mobile:target {
      transform: translateY(20rem); }
    header #nav-mobile ul {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header #nav-mobile ul li {
        padding: 1rem; }
        header #nav-mobile ul li:nth-of-type(2) {
          padding-top: 2rem; }
        header #nav-mobile ul li:last-of-type {
          padding-bottom: 2rem; }
        header #nav-mobile ul li a {
          color: #333;
          font-size: 1rem;
          text-decoration: none; }
  header #nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem; }
    header #nav-close:hover {
      text-decoration: none;
      opacity: 0.5; }

main {
  display: flex;
  flex-direction: column; }

#controls-form {
  display: flex;
  flex-direction: column; }
  #controls-form .input-box {
    padding: 0.5rem 0; }
    #controls-form .input-box > input {
      border-radius: 0.25rem;
      margin-top: 0.5rem; }
  #controls-form > button {
    background: lightblue;
    background: radial-gradient(circle at top left, #4D75CC 0%, #03256C 50%);
    border: 0.125rem solid #001035;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem; }

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-around; }
    header #nav-mobile {
      background: none;
      color: #333;
      top: 0;
      position: relative; }
      header #nav-mobile ul {
        flex-direction: row;
        justify-content: flex-end; }
        header #nav-mobile ul li {
          padding: 1rem 0.75rem; }
          header #nav-mobile ul li:nth-of-type(2) {
            padding-top: 1rem; }
          header #nav-mobile ul li:last-of-type {
            padding-bottom: 1rem; }
    header #menu-toggle, header .toggle {
      display: none; }
  main {
    flex-direction: row; }
    main #controls {
      padding: 2.5vw 20vw 0 2.5vw; } }
