* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  display: none; }

html, body {
  background: #fefefe;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100%; }

ul {
  list-style-type: none; }

header {
  background: #262626;
  background: radial-gradient(ellipse at top left, #393939, #262626);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 1; }
  header #name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    white-space: pre; }
  header #menu-toggle {
    color: #eee;
    position: absolute;
    top: 1rem;
    right: 1rem; }
    header #menu-toggle:hover {
      opacity: 0.5;
      transition: all 0.5s ease-in-out; }
  header #nav-mobile {
    background: inherit;
    box-shadow: none;
    color: #333;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -20rem;
    left: 0;
    transition: all 0.5s ease-in-out;
    width: 100vw; }
    header #nav-mobile:target {
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
      transform: translateY(20rem); }
    header #nav-mobile ul {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header #nav-mobile ul li {
        padding: 1rem; }
        header #nav-mobile ul li:nth-of-type(2) {
          padding-top: 2rem; }
        header #nav-mobile ul li:last-of-type {
          padding-bottom: 2rem; }
        header #nav-mobile ul li a {
          color: #eee;
          font-size: 1rem;
          text-decoration: none; }
  header #nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem; }
    header #nav-close:hover {
      text-decoration: none;
      opacity: 0.5; }

main {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  width: 100vw; }

#controls {
  background: #335884;
  background: radial-gradient(circle at 50% 0%, #335884 0%, #004293 100%);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0; }
  #controls #panel-open, #controls #panel-close {
    display: none; }

#controls-form {
  display: flex;
  flex-direction: column; }
  #controls-form .input-box {
    padding: 0.5rem 0;
    text-align: center; }
    #controls-form .input-box > label {
      font-size: 1.5rem;
      white-space: nowrap; }
    #controls-form .input-box > input, #controls-form .input-box > select, #controls-form .input-box > option {
      border-radius: 0.25rem;
      margin-top: 0.5rem;
      padding: 0.75rem 0; }
    #controls-form .input-box > select {
      background: #fefefe;
      font-size: 0.75rem;
      padding: 1rem;
      width: 100%; }
  #controls-form #submitChanges {
    background: #0934ff;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    color: #eee;
    font-size: 1.25rem;
    margin-top: 2rem;
    padding: 1rem 0;
    width: 100%; }

#main-canvas {
  height: 100%;
  min-width: 40vw;
  width: 100%; }

footer {
  background: #262626;
  background: radial-gradient(ellipse at bottom center, #393939, #262626);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  footer #menu-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0; }
    footer #menu-links ul li {
      padding: 0.5rem 0; }
      footer #menu-links ul li a {
        color: #eee;
        font-size: 1rem;
        text-decoration: none; }

@media (min-width: 768px) {
  header {
    box-shadow: none;
    flex-direction: row;
    justify-content: space-around; }
    header #nav-mobile {
      background: none;
      color: #333;
      top: 0;
      position: relative; }
      header #nav-mobile ul {
        flex-direction: row;
        justify-content: flex-end; }
        header #nav-mobile ul li {
          padding: 1rem 0.75rem; }
          header #nav-mobile ul li:nth-of-type(2) {
            padding-top: 1rem; }
          header #nav-mobile ul li:last-of-type {
            padding-bottom: 1rem; }
    header #menu-toggle, header #nav-close {
      display: none; }
  main {
    box-shadow: none;
    flex-direction: row;
    position: relative;
    z-index: 1; }
    main #controls {
      box-shadow: none;
      display: block;
      padding: 5rem 2rem;
      position: relative;
      transition: all 0.5s ease-in-out;
      width: 5vw; }
      main #controls:target {
        width: 100%; }
        main #controls:target #panel-open {
          display: none; }
        main #controls:target #controls-form {
          display: flex;
          flex-direction: row; }
      main #controls #panel-open {
        color: #eee;
        display: block;
        position: absolute;
        top: 0;
        left: 1rem; }
      main #controls #panel-close {
        color: #eee;
        display: block;
        position: absolute;
        top: 0;
        right: 1rem; }
    main #controls-form {
      display: none; }
      main #controls-form .form-column {
        display: flex;
        flex-direction: column;
        align-items: center; }
        main #controls-form .form-column .input-box {
          padding: 1rem 2rem; }
          main #controls-form .form-column .input-box > label {
            font-size: 1rem;
            white-space: nowrap; }
          main #controls-form .form-column .input-box > input, main #controls-form .form-column .input-box > select, main #controls-form .form-column .input-box > option {
            border-radius: 0.25rem;
            margin-top: 0.5rem;
            padding: 0.75rem 0; }
          main #controls-form .form-column .input-box > input {
            width: 7.5vw; }
          main #controls-form .form-column .input-box > select {
            background: #fefefe;
            font-size: 0.75rem;
            padding: 1rem;
            width: 100%; }
    main #submitChanges {
      max-width: 80%; }
    main #main-canvas {
      box-shadow: inset 0 0 1rem black;
      width: 100%;
      min-height: 85vh;
      height: auto; }
  footer {
    padding: 3rem 0 1rem; }
    footer #menu-links ul {
      flex-direction: row;
      justify-content: space-around; }
      footer #menu-links ul li {
        padding: 0 0.5rem; } }
