* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  display: none; }

html, body {
  background: #fefefe;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100%; }

ul {
  list-style-type: none; }

header {
  background: #262626;
  background: radial-gradient(ellipse at top left, #393939, #262626);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 1; }
  header #name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    white-space: pre; }
  header #menu-toggle {
    color: #eee;
    position: absolute;
    top: 1rem;
    right: 1rem; }
    header #menu-toggle:hover {
      opacity: 0.5;
      transition: all 0.5s ease-in-out; }
  header #nav-mobile {
    background: inherit;
    box-shadow: none;
    color: #333;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -20rem;
    left: 0;
    transition: all 0.5s ease-in-out;
    width: 100vw; }
    header #nav-mobile:target {
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
      transform: translateY(20rem); }
    header #nav-mobile ul {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header #nav-mobile ul li {
        margin: 1rem 0;
        padding: 0.75rem; }
        header #nav-mobile ul li:nth-of-type(2) {
          margin-top: 2rem; }
        header #nav-mobile ul li:last-of-type {
          margin-bottom: 2rem; }
        header #nav-mobile ul li a {
          color: #eee;
          font-size: 1rem;
          text-decoration: none; }
      header #nav-mobile ul #get-snippet {
        background: #335884;
        background: radial-gradient(circle at 50% 0%, #4374ae 0%, #004293 100%);
        border-radius: 1rem;
        box-shadow: 0 0.125rem 0.5rem rgba(255, 255, 255, 0.4);
        cursor: pointer;
        font-size: 1.5rem;
        position: relative;
        top: 0;
        transition: 0.5s ease-in-out; }
        header #nav-mobile ul #get-snippet:hover {
          background: radial-gradient(circle at 50% 100%, #4374ae 0%, #004293 100%);
          box-shadow: none;
          top: 0.125rem; }
      header #nav-mobile ul #open-about {
        background: #759cca;
        background: radial-gradient(circle at 50% 0%, #759cca 0%, #4374ae 100%);
        border-radius: 1rem;
        box-shadow: 0 0.125rem 0.5rem rgba(255, 255, 255, 0.4);
        cursor: pointer;
        font-size: 1.5rem;
        position: relative;
        padding: 0.75rem 2rem;
        top: 0;
        transition: 0.5s ease-in-out; }
        header #nav-mobile ul #open-about:hover {
          background: radial-gradient(circle at 50% 100%, #759cca 0%, #4374ae 100%);
          box-shadow: none;
          top: 0.125rem; }
  header #nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem; }
    header #nav-close:hover {
      text-decoration: none;
      opacity: 0.5; }

#snippet-modal, #about {
  background: #335884;
  background: radial-gradient(circle at 50% 0%, #335884 0%, #004293 100%);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100vw; }
  #snippet-modal:target, #about:target {
    height: 20rem;
    max-height: 100%;
    opacity: 1;
    top: 5rem; }
    #snippet-modal:target a, #snippet-modal:target label, #snippet-modal:target textarea, #about:target a, #about:target label, #about:target textarea {
      opacity: 1; }
  #snippet-modal a, #about a {
    color: #eee;
    opacity: 0;
    position: absolute;
    top: 5%;
    right: 5%; }
  #snippet-modal label, #about label {
    font-size: 1.25rem;
    opacity: 0;
    padding: 1rem; }
  #snippet-modal textarea, #about textarea {
    border-radius: 1rem;
    width: 50vw;
    max-width: 90vw;
    opacity: 0;
    padding: 1rem; }

#about a {
  color: #eee;
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 5%; }

#about h2, #about h3, #about p {
  opacity: 0;
  padding: 1rem 0; }

#about p {
  width: 50vw; }

#about:target a, #about:target h2, #about:target h3, #about:target p {
  opacity: 1; }

main {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  width: 100vw; }

#controls {
  background: #335884;
  background: radial-gradient(circle at 50% 0%, #335884 0%, #004293 100%);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0; }
  #controls #panel-open, #controls #panel-close {
    display: none; }

#controls-form {
  display: flex;
  flex-direction: column; }
  #controls-form .input-box {
    padding: 0.5rem 0;
    text-align: center; }
    #controls-form .input-box > label {
      font-size: 1.5rem;
      white-space: nowrap; }
    #controls-form .input-box > input {
      text-align: center; }
    #controls-form .input-box > input, #controls-form .input-box > select, #controls-form .input-box > option {
      border-radius: 0.25rem;
      margin-top: 0.5rem;
      padding: 1rem; }
    #controls-form .input-box > select {
      background: #fefefe;
      font-size: 0.75rem; }
  #controls-form #submitChanges, #controls-form #resetChanges {
    background: #0934ff;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    margin-top: 2rem;
    padding: 1rem 0;
    width: 100%; }
  #controls-form #resetChanges {
    background: #7f95ff; }

#main-canvas {
  height: 100%;
  min-width: 40vw;
  min-height: 80vh;
  width: 100%; }

footer {
  background: #262626;
  background: radial-gradient(ellipse at bottom center, #393939, #262626);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; }
  footer #menu-links ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer #menu-links ul li {
      padding: 0.5rem 0;
      transition: 0.5s ease-in-out; }
      footer #menu-links ul li a {
        color: #eee;
        font-size: 1rem;
        text-decoration: none; }
        footer #menu-links ul li a:hover {
          color: #4374ae; }

@media (min-width: 768px) {
  header {
    box-shadow: none;
    flex-direction: row;
    justify-content: space-around;
    height: 6.25rem;
    padding: 1.5rem; }
    header #nav-mobile {
      background: none;
      color: #333;
      top: 0;
      position: relative; }
      header #nav-mobile ul {
        flex-direction: row;
        justify-content: flex-end; }
        header #nav-mobile ul li {
          padding: 1rem; }
          header #nav-mobile ul li:nth-of-type(2) {
            margin: 0 2rem; }
          header #nav-mobile ul li:last-of-type {
            margin: 0 2rem 0 0; }
        header #nav-mobile ul #open-about {
          padding: 1rem 2rem; }
    header #menu-toggle, header #nav-close {
      display: none; }
  #snippet-modal, #about {
    z-index: -1; }
    #snippet-modal:target, #about:target {
      top: 6.25rem;
      z-index: 2; }
  #about h2 {
    font-size: 2rem; }
  #about h3 {
    font-size: 1.5rem;
    padding-top: 0; }
  #about p {
    font-size: 1.25rem; }
  main {
    box-shadow: none;
    flex-direction: row;
    position: relative;
    z-index: 1; }
    main #controls {
      box-shadow: none;
      display: block;
      padding: 5rem 2rem;
      position: relative;
      transition: all 0.5s ease-in-out;
      width: 5vw; }
      main #controls:target {
        width: 100%; }
        main #controls:target #panel-open {
          display: none; }
        main #controls:target #controls-form {
          display: flex;
          flex-direction: row; }
      main #controls #panel-open {
        color: #eee;
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 1rem; }
      main #controls #panel-close {
        color: #eee;
        display: block;
        position: absolute;
        top: 0.5rem;
        right: 1rem; }
    main #controls-form {
      display: none; }
      main #controls-form .form-column {
        display: flex;
        flex-direction: column;
        align-items: center; }
        main #controls-form .form-column .input-box {
          padding: 1rem 2rem; }
          main #controls-form .form-column .input-box > label {
            font-size: 1rem;
            white-space: nowrap; }
          main #controls-form .form-column .input-box > input, main #controls-form .form-column .input-box > select, main #controls-form .form-column .input-box > option {
            border-radius: 0.25rem;
            margin-top: 0.5rem;
            padding: 1rem; }
          main #controls-form .form-column .input-box > input {
            width: 7.5vw; }
          main #controls-form .form-column .input-box > select {
            background: #fefefe;
            font-size: 0.75rem;
            padding: 1rem;
            width: 100%; }
    main #submitChanges, main #resetChanges {
      max-width: 80%; }
    main #main-canvas {
      box-shadow: inset 0 0 1rem black;
      width: 100%;
      min-height: 85vh;
      height: auto; }
  footer #menu-links ul {
    flex-direction: row;
    justify-content: space-around; }
    footer #menu-links ul li {
      padding: 0 0.5rem; } }
