// Main Sass File

// Base styling and resets

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
  background: #fefefe;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

// Header

header {
  background: #262626;
  background: radial-gradient(ellipse at top center, #4b4b4b, #262626);
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 1;

 #name {
    font-weight: 900;
    white-space: pre;
  }

  #menu-toggle {
    color: #eee;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &:hover {
        opacity: 0.5;
        transition: all 0.5s ease-in-out;
    }

  }

  // Mobile navigatin black magic

  #nav-mobile {
    background: inherit;
    box-shadow: none;
    color: #333;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -20rem;
    left: 0;
    transition: all 0.5s ease-in-out;
    width: 100vw;

    &:target {
      box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
      transform: translateY(20rem);
    }

    ul {

      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin: 1rem 0;
        padding: 0.75rem;

        &:nth-of-type(2) {
          margin-top: 2rem;
        }

        &:last-of-type {
          margin-bottom: 2rem;
        }

        a {
          color: #eee;
          font-size: 1rem;
          text-decoration: none;
        }

      }

      #get-snippet {
        background: #335884;
        background: radial-gradient(circle at 50% 0%, #4374ae 0%, #004293 100%);
        border-radius: 1rem;
        box-shadow: 0 0.125rem 0.5rem rgba(255,255,255,0.4);
        cursor: pointer;
        font-size: 1.5rem;
        position: relative;
        top: 0;
        transition: 0.5s ease-in-out;

        &:hover {
          background: radial-gradient(circle at 50% 100%, #4374ae 0%, #004293 100%);
          box-shadow: none;
          top: 0.125rem;
        }

      }

      #open-about {
        background: #759cca;
        background: radial-gradient(circle at 50% 0%, #759cca 0%, #4374ae 100%);
        border-radius: 1rem;
        box-shadow: 0 0.125rem 0.5rem rgba(255,255,255,0.4);
        cursor: pointer;
        font-size: 1.5rem;
        position: relative;
        padding: 0.75rem 2rem;
        top: 0;
        transition: 0.5s ease-in-out;

        &:hover {
          background: radial-gradient(circle at 50% 100%, #759cca 0%, #4374ae 100%);
          box-shadow: none;
          top: 0.125rem;
        }

      }

    }

  }

  #nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

      &:hover {
          text-decoration: none;
          opacity: 0.5;
      }

  }

}

// Snippet and About modal

#snippet-modal, #about {
  background: #335884;
  background: radial-gradient(circle at 50% 0%, #335884 0%, #004293 100%);
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100vw;

  &:target {
    height: 20rem;
    max-height: 100%;
    opacity: 1;
    top: 5rem;
    z-index: 1;

    a, label, textarea {
      opacity: 1;
    }

  }

  a {
    color: #eee;
    opacity: 0;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  label {
    font-size: 1.25rem;
    opacity: 0;
    padding: 1rem;
  }

  textarea {
    border-radius: 1rem;
    width: 50vw;
    max-width: 90vw;
    opacity: 0;
    padding: 1rem;
  }

}

// About section

#about {

  a {
    color: #eee;
    opacity: 0;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  h2, h3, p {
    opacity: 0;
    padding: 1rem 0;
  }

  p {
    width: 50vw;
  }

  &:target {

    a, h2, h3, p {
      opacity: 1;
    }

  }

}

// Main section

main {
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

// Controls section

#controls {
  background: #335884;
  background: radial-gradient(circle at 50% 0%, #335884 0%, #004293 100%);
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  height: 20%;
  transition: all 0.5s ease-in-out;

  #controls-form {
    display: none;

    .input-box {
      padding: 0.5rem 0;
      text-align: center;

      &>label {
        font-size: 1.5rem;
        white-space: nowrap;
      }

      &>input {
        text-align: center;
      }

      &>input, &>select, &>option {
        border-radius: 1rem;
        margin-top: 0.5rem;
        padding: 1rem;
      }

      &>select {
        background: #fefefe;
        font-size: 0.75rem;
      }

    }

    #submitChanges, #resetChanges {
      background: #0934ff;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0 1rem rgba(0,0,0,0.4);
      color: #fff;
      cursor: pointer;
      font-size: 1.25rem;
      margin-top: 2rem;
      padding: 1rem 0;
      width: 100%;
    }

    #resetChanges {
      background: #7f95ff;
    }

  }

  &:target {
    height: 100%;

    #controls-form {
      display: flex;
      flex-direction: column;
    }

    #panel-open-mobile {
      display: none;
    }

    #panel-close-mobile {
      display: block;
    }

  }

  #panel-open-mobile, #panel-close-mobile {
    align-self: center;
    color: #eee;
  }

  #panel-open, #panel-close, #panel-close-mobile {
    display: none;
  }

}



// Canvas section

#main-canvas {
  height: 100%;
  min-width: 40vw;
  min-height: 80vh;
  width: 100%;
}

// Footer section

footer {
  background: #262626;
  background: radial-gradient(ellipse at bottom center, #4b4b4b, #262626);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  #menu-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding: 0.5rem 0;
      transition: 0.5s ease-in-out;

      a {
        color: #eee;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
          color: #4374ae;
        }

      }

    }

  }

}

/////////////////////////
//    Media Queries    //
/////////////////////////

@media (min-width: 768px) {

  header {

    box-shadow: none;
    flex-direction: row;
    justify-content: space-around;
    height: 6.25rem;
    padding: 1.5rem;

    #name {
      font-size: 3rem;
    }

    #nav-mobile {

      background: none;
      color: #333;
      top: 0;
      position: relative;

      ul {
          flex-direction: row;
          justify-content: flex-end;

          li {
              padding: 1rem;

              &:nth-of-type(2) {
                margin: 0 2rem;
              }

              &:last-of-type {
                margin: 0 2rem 0 0;
              }

          }

          #open-about {
            padding: 1rem 2rem;
          }

      }

    }

    #menu-toggle, #nav-close {
        display: none;
    }

  }

  #snippet-modal, #about {
    z-index: -1;

    &:target {
      top: 6.25rem;
      z-index: 2;
    }

  }

  #about {

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      padding-top: 0;
    }

    p {
      font-size: 1.25rem;
    }

  }

  main {
    box-shadow: none;
    flex-direction: row;
    z-index: 1;

    #controls {
      box-shadow: none;
      display: block;
      padding: 5rem 2rem;
      position: relative;
      transition: all 0.5s ease-in-out;
      width: 5vw;
      height: inherit;

      #controls-form {
        display: none;

        .form-column {
          display: flex;
          flex-direction: column;
          align-items: center;

          .input-box {
            padding: 1rem 2rem;

            &>label {
              font-size: 1rem;
              white-space: nowrap;
            }

            &>input, &>select, &>option {
              border-radius: 0.25rem;
              margin-top: 0.5rem;
              padding: 1rem;
            }

            &>input {
              width: 7.5vw;
            }

            &>select {
              background: #fefefe;
              font-size: 0.75rem;
              padding: 1rem;
              width: 100%;
            }

          }

        }

      }

      &:target {

        width: 100%;
        height: inherit;

        #panel-open {
          display: none;
        }

        #controls-form {
          display: flex;
          flex-direction: row;
        }

        #panel-close-mobile {
          display: none;
        }

      }

      #panel-open-mobile, #panel-close-mobile {
        display: none;
      }

      #panel-open {
        color: #eee;
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 1rem;
      }

      #panel-close {
        color: #eee;
        display: block;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
      }

    }

    #submitChanges, #resetChanges {
      max-width: 80%;
    }

    #main-canvas {
      box-shadow: inset 0 0 1rem rgba(0,0,0,1);
      width: 100%;
      min-height: 85vh;
      height: auto;
    }

  }

  footer {

    #menu-links ul li {
        padding: 0 0.5rem;
    }

  }

}
